<% if @performance_dates.present? %>
 <div class="ui divider"></div>
  <div class="meta">

    <% if  @performance_dates.count > 0 %>
      <h4> <%= "Past " if @performance_dates.last <  Time.now %>Performances</h4> 
      <% @performance_dates.each do |performance| %>
        <%= date_time_display(Time.parse(performance))  %> <br>
      <% end %>
    <% end %>

    <% if @performance_urls.present? %>
      <a href="<%=@performance_urls.first %>">
        <div class="ui right floated primary button">
          Event Webpage
          <i class="right chevron icon"></i>
        </div>
      </a>
    <% end %>

    <% if @performance_tickets.present? && Time.parse(@performance_dates.last) > Time.now %>
      <a href="<%=@performance_tickets.first %>">
        <div class="ui right floated red button">
          Tickets
          <i class="right chevron icon"></i>
        </div>
      </a>
    <% end %>

  </div>
<% end %>