<p id="notice"><%= notice %></p>
<h1 class="header">Spotlight</h1>
<div class="ui divider"></div>
<div class="ui link cards app-cards">
  
  <a class="card" href="/search?query=Zürich">
    <div class="image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Schauspielhaus_Zürich.jpg/1024px-Schauspielhaus_Zürich.jpg">
    </div>
    <div class="content">
      <div class="header">Zürich Historical Productions</div>
      <div class="meta">1900-1999</div>
      <div class="description"> Data for Schauspielhaus Zürich past productions sourced directly from Wikidata. </div>
    </div>
    <div class="extra content">
      <span>
        <i class="arrow alternate circle down outline icon"></i> Zürich
      </span>
    </div>
  </a>

  <a class="card" href="/search?query=Canada&start=2019-08-01&end=2021-12-01">
    <div class="image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Rideau_Canal_Winter.jpeg/731px-Rideau_Canal_Winter.jpeg">
    </div>
    <div class="content">
      <div class="header">Winter 2019 in Canada</div>
      <div class="meta">2019</div>
      <div class="description"> Data from Canada’s national knowledge graph for performing arts events: artsdata.ca </div>
    </div>
    <div class="extra content">
      <span>
        <i class="arrow alternate circle down outline icon"></i> Canada
      </span>
    </div>
  </a>

    <a class="card" href="/search?query=Montreal&start=2019-01-01&end=2021-12-01">
    <div class="image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Montreal_-_QC_-_Skyline.jpg/1024px-Montreal_-_QC_-_Skyline.jpg">
    </div>
    <div class="content">
      <div class="header">Montreal Yesterday & Tomorrow</div>
      <div class="meta">2019-2021</div>
      <div class="description"> Data from Canada’s national knowledge graph for performing arts events: artsdata.ca </div>
    </div>
    <div class="extra content">
      <span>
        <i class="arrow alternate circle down outline icon"></i> Montreal
      </span>
    </div>
  </a>

</div>